@charset "UTF-8";
html {
  font-size: 100px;
}

body {
  font-size: 16px;
  background: white;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "微软雅黑","宋体",sans-serif;
  letter-spacing: 1px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 100px;
  }
}

.icon {
  font-family: "iconfont";
}

.gd {
  width: 100%;
  position: fixed;
  padding: 2rem 0;
  top: 2rem;
  left: 0rem;
  line-height: 4rem;
  text-align: center;
  color: #969896;
  font-size: 4rem;
  opacity: 0.7;
  background: url(../images/5.jpg) 0 2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  display: none;
}

.gd .gdzi {
  width: 100%;
  font-size: 18px;
  margin-top: 4rem;
}

.main {
  z-index: 2;
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 10%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: 3rem;
  background: url(../images/11.png);
  background-size: cover;
}

.main .yuan {
  width: 3rem;
  height: 1rem;
  background: #D40203;
  color: white;
  line-height: 1rem;
  text-align: center;
  font-size: 22px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -2rem;
  z-index: 1;
}

.header {
  width: 100%;
  height: 1rem;
  padding: 0.2rem 0.3rem;
  position: relative;
  display: none;
  text-align: center;
  color: white;
  line-height: 0.6rem;
  font-size: 18px;
  background: #D40203;
}

.header .zhezhao {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 13rem;
  background: #333;
  opacity: 0.7;
  z-index: 17;
}

.header input {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 6rem;
  width: 80%;
  height: 1.6rem;
  background: white;
  border: 0;
  border-radius: 5%;
  line-height: 0.8rem;
  font-size: 22px;
  z-index: 17;
}

.header .add {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 8rem;
  width: 30%;
  height: 1rem;
  background: white;
  line-height: 1rem;
  background: #D40203;
  color: white;
  text-align: left;
  font-size: 24px;
  border: 1px solid white;
  border-radius: 8%;
  text-align: center;
  z-index: 17;
}

.header .return {
  height: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.4rem;
  color: white;
  line-height: 0.5rem;
  text-align: center;
  font-size: 16px;
}

.header .return img {
  vertical-align: middle;
}

.header .add1 {
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.4rem;
  color: white;
  line-height: 0.5rem;
  text-align: center;
  font-size: 18px;
}

#ul {
  margin-top: 0.2rem;
  width: 100%;
  overflow: hidden;
}

#ul li {
  width: 100%;
  height: 1rem;
  padding: 0.2rem 0.3rem;
  background: white;
  line-height: 1rem;
  position: relative;
  margin-bottom: 0.2rem;
  color: #333;
}

#ul li span {
  margin-right: 2px;
  display: inline-block;
  width: .55rem;
  height: .55rem;
  background: url(../images/44.png);
  background-size: cover;
  vertical-align: middle;
}

#ul li .content {
  width: 100%;
  height: 0.6rem;
  border: 0;
  border-radius: 5%;
  line-height: 0.6rem;
}

#ul li .delete {
  width: 1.4rem;
  height: 0.7rem;
  background: #D40203;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.4rem;
  color: white;
  line-height: 0.7rem;
  text-align: center;
  display: none;
}

@keyframes aa {
  0% {
    right: -1.4rem;
  }
  100% {
    right: 0.4rem;
  }
}

#ul .move {
  animation: aa 0.4s linear 0s 1  forwards;
}

#ul .done .delete {
  display: block;
}

#ul .done span {
  background: url(../images/33.png);
  background-size: cover;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.footer {
  width: 100%;
  height: 1rem;
  display: none;
  border-radius: 10%;
  margin: 0 auto;
}

.footer div {
  width: 33.3%;
  height: 1rem;
  background: white;
  border: 1px solid #eee;
  float: left;
  color: #D40203;
  text-align: center;
  line-height: 1rem;
}

.clear {
  position: fixed;
  bottom: 0.6rem;
  right: 0.3rem;
  width: 1rem;
  height: 1rem;
  background: url(../images/333.jpg);
  background-size: 60%;
  background-repeat: no-repeat;
}
